body {
    background-color: yellow;
}

h1{
    color: red;
    background-color: pink;
    width: 300px;
    padding: 20px;
}

p{
    color: orange;
    background-color: green;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
} 