body{
    background-color: beige;

}
h1{
   text-decoration: underline; 
   color: rgb(10,125,200);
   font-family: cursive;
}

span{
    font-weight: bold;
}
.contact{
    color: navy;
    text-decoration: underline;
}
#f1{
    background-color: azure;
}
#ha{
    color: navy;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}
.special-text{
    font-weight: bold;
    
}
button{
    background-color: greenyellow;
    font-weight: bold;
}